body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-contact-me-btn {
  color: rgb(255, 255, 255);
  height: 60px;
  color: white;
}

.custom-contact-me-btn:hover {
  background-color: #2857A4;
  color: white;
}


.coming-soon-contact-me-icon {
  border-radius: 100%;
  border: 3px white solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-left: -10px;
  margin-right: 10px;
}

.coming-soon-contact-me-icon svg {
  font-size: 30px;
}

#fullscreen-bg-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}